*{
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}

#content{
    overflow: hidden;
}

#header{
    display: flex;
    font-size: 4rem;
    width: 100%;
    justify-content: center;
    
    position: absolute;
    z-index: 3;
    background-color: #fff;
}

.header__text{
    padding: 2rem 4rem;
    transition: 0.4s ease;
    cursor: pointer;
}

.header__text:hover{
    background-color:#ef4444;
    opacity: 80%;
}

div.bg > img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0px;

}

.nameDiv{
    position: absolute;
    z-index: 4;
    top: 10rem;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.nameDiv > h1{
    color: #ef4444;
    font-size: 10rem;
}

.box{
    display: flex;
    justify-content: center;
}

.bgBox{
    position: absolute;
    top: 25rem;
    width: 50rem;
    height: 60rem;
    background-color: rgba(0,0,0, 0.7);
    z-index: 4;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0.4rem;
}

div.bgBox > img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;
}

p, h1, h2{
    color: #fff;
}

p{
    font-size: 3.5rem;
    font-style: italic;
}

h2{
    font-size: 5rem;
}

/* Стили для меню */

#menuDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    position: absolute;
    top: 12.5rem;
    background-color: rgba(255,255,255, 0.97);
    width: 40%;
    text-align: center;
    padding: 1rem;
    padding-bottom: 3rem;
}

.menu_header{
    color: black;
    font-style: italic;
}

.menu_item:nth-child(2){
    padding-top: 3rem;
    border-top: 2px solid #eab308;
}

.menu_item{
    display: flex;
    justify-content: space-around;
    text-align: start;
    align-items: center;
    margin-top: 2rem;
}

.item_desciption{
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.item_desciption > p, .item_price{
    font-size: 2rem;
    color: black;
}

.item_name{
    font-weight: 700;
    line-height: 1.7;
}

.item_ingridients{
    font-style: normal;
}

.item_price{
    font-weight: 700;
    font-size: 2.2rem;
}

/* Стили на Contact Us */

#info_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 6.5rem;
}

#info_box{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}

#info{
    width: 50%;
    padding: 5rem 0 0 0;
}

h3{
    color: black;
    font-size: 3rem;
    line-height: 2;
}

a{
    color: black;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
}

img.rest_small_img{
    object-fit: cover;
    width: 50rem;
    margin-top: 2rem;
}

.rest_img{
    max-height: 50rem;
    margin-top: 10rem;
    object-fit: cover;
}

/* Стили для карты */

#map_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

#map_box > h2{
    color: black;
}

#map{
    width: 100%;
    padding: 5rem;
    padding-top: 2rem;
}

.map_conf{
    width: 100%;
    height: 650px;
}

/* Добавление анимации */
.slide-left{
    transform: translate(-10vw);
    transform: scale(1.1);
    transition: 1s ease;
}

.slide-right{
    transform: translate(10vw); 
    transform: scale(1.1);
}